<h1>Hi!</h1>
<h2>Who are you?</h2>
<% @people.each do |p| %>
    <p><%= link_to p.name, person_path(p) %></p>

<% end %>

<div class="container">
<%= link_to 'I am new here', new_person_path, class: 'btn btn-success' %>
</div>