@import "bootstrap-sprockets";
@import "bootstrap";

/* body { padding-top: 100px; } */
body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.has-error {
  text-align: center;
  color: red;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* footer - for reference - refactored to sass see Big Blue Book*/
/* footer

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
  color: $gray;
  &:hover {
    color: $gray-darker;
    }
  }
 small {
  float: left;
}
 ul {
  float: right;
  list-style: none;
  li {
  float: left;
  margin-left: 15px;
  }
 }
}
*/

/* microposts -- temp; added for reference */

.measurements {
  list-style: table;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .date {
    margin-top: 5em;
    padding-top: 0;
  }
  .weight {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .bmi {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}
/*
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
*/