<div>
  <p>Your history is </p>
  <table class="table table-striped table-bordered table-condensed">
    <% if @current_user.measurements.any? %>
        <thead>
        <tr>
          <th class="col-md-2">Weight</th>
          <th class="col-md-1">Date</th>
          <th class="col-md-1">BMI</th>
        </tr>
        </thead>
        <% @current_user.measurements.each do | m | %>
            <tr>
              <td><%= m.weight %> kg </td>
              <td><%= m.date.strftime("%d %b") %></td>
              <td><%= bmi_calc(m) %></td>
        <% end %>
    <% end %>
  </table>
</div>