<%= form_tag(people_path, :method => 'get', id: 'search-form', :class => 'navbar-form navbar-left', :role => 'search') do %>
<%= text_field_tag :search, params[:search], onsearch: true, placeholder: 'Type your name' %>
<%= submit_tag "Find me" %>


<% if params[:search] && !@people.present? %> <p>Ooops, I can't find a name with <%= params[:search] %> in it! Want to join us?</p>
<% end %>
<% end %>